<!-- AddThis Button BEGIN -->
%div.addthis_toolbox.addthis_floating_style.addthis_32x32_style.hidden-phone.hidden-tablet{style: 'left:10px;top:40%;'}
  %a.addthis_button_preferred_1
  %a.addthis_button_preferred_2
  %a.addthis_button_preferred_3
  %a.addthis_button_preferred_4
  %a.addthis_button_compact

:javascript
  var addthis_config = {
    data_track_addressbar: false,
    data_ga_tracker: 'UA-33746788-1'
  };

  var addthis_share = {
  }

%script{type: 'text/javascript', src: 'http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513392261186efdb'}
<!-- AddThis Button END -->