.container-fluid.banner
  .row-fluid
    %p.lead.description
      We are launched service to simplify integration of in-app purchases to your iPhone and iPad applications.
      %a{href: "http://in-app-purchase-server.com", target:"_blank"} Join to beta testers team now!
