- if @has_ignored_pictures
  .alert.alert-warning Some files has been ignored. You can upload PNG and IPA files only.

- if @pictures.present?
  %form{ method:'POST', action:download_zip_path}
    %input{type: 'hidden', name: 'group', value: @group}

    .btn-group.menu
      %button{type: 'submit', class: 'btn', name: 'download-type', value: 'all'} Download All Pictures
      %button{type: 'submit', class: 'btn', name: 'download-type', value: 'checked'} Download Checked Pictures

    = render partial: 'thumbnails', locals: { pictures: @pictures, show_checkboxes: true }

    - if @pictures.length >= 12
      .btn-group.menu
        %button{type: 'submit', class: 'btn', name: 'download-type', value: 'all'} Download All Pictures
        %button{type: 'submit', class: 'btn', name: 'download-type', value: 'checked'} Download Checked Pictures
