.header {
  h2 {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  h3 {
    text-align: center;
    margin: 12px 0 12px 0;
  }
}

.drop-area {
  border: dashed 3px #CBCBCB;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 20px;

  input[type = 'file'] {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 32000px;
    opacity: 0;
  }
}

.menu {
  margin: 12px 0;
}

.thumbnail {
  position: relative;

  & > a {
    display: block;
    width: 210px;
    height: 170px;

    line-height: 170px;
    text-align: center;

    img {
      max-width: 210px;
      max-height: 170px;
      margin: 0 auto;

      vertical-align: middle;
    }
  }

  a.download-icon {
    display: none;

    width: 23px;
    height: 23px;

    position: absolute;
    bottom: 11px;
    left: 13px;

    background: transparent url(/assets/download-icon.png) no-repeat;
  }

  &:hover a.download-icon {
    display: block;
  }

  .check {
    width: 50px;
    height: 50px;

    position: absolute;
    bottom: -3px;
    right: 0;

    input[type=checkbox] {
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;
      position: relative;

      & + label:before {
        background: url(/assets/checkbox.png) no-repeat top left;
        content: "";

        display: inline-block;
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
      }

      &:checked + label:before {
        background-position: 0 -50px;
      }

      &:hover + label:before {
        background-position: 0 -100px;
      }

      &:checked:hover + label:before {
        background-position: 0 -150px;
      }
    }
  }

  h5 {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 30px;
    text-align: center;
  }
}

